#currencyContainer{
    width: 114px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
    position: absolute;
    right: 0;
    margin-top: 80px;
    margin-right: 9%;
    position: fixed;
}
.currencyChoiceContainer{
    padding: 20px 0px 20px 20px;
    display: flex;
    flex-direction: row;
}
.currencyChoiceContainer:hover{
    cursor: pointer;
    background: #5ECE7B;
    color: #FFFFFF;
}

@media (min-width: 1500px){
    #currencyContainer{
        margin-right: 21%;
    }
}