#navigationBarContainer{
    background: #FFFFFF;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: 80px;
    
}
#navigationBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 101px;
    padding-right: 101px;
    width: 100%;
    align-items: center;
}
#categoriesNavigation{
    display: flex;
    flex-direction: row;
    width: 20%;
}
#companyLogo:hover{
    cursor: pointer;
}
#categoriesNavigation p{
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    user-select: none;
    margin-right: 16px;
    padding: 28px 16px 28px 16px;
}
#categoriesNavigation p:hover{
    cursor: pointer;
}
#cartNavigation{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: flex-end;
}
#cartNavigation:hover{
    cursor: pointer;
}
#cartNavigation div{
   display: flex;
    flex-direction: row;
    align-items: center;
    
}
#numOfItemsContainer{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: #1D1F22;
    position: absolute;
    right: 0;
    margin-right: 92px;
    margin-bottom: 20px;
}
#numOfItems{
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}
#logoContainer{
    width: 20%;
    display: flex;
    justify-content: center
}
#currency{
    margin-right: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}
#shoppingCartIcon{
    width: 20px;
    height: 20px;
    align-self: center;
    margin-left: 20px;
}

@media (min-width: 1500px){
    #navigationBar{
        width: 60%;
    }
    #numOfItemsContainer{
        margin-right: 19.6%;
    }
}
