*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #1D1F22;
}

#storeContainer{
    display: flex;
    flex-direction: column;
    padding-left: 101px;
    padding-right: 101px;
    margin-left: auto;
    margin-right: auto;
}
#storeFilterTitle{
    font-size: 42px;
    line-height: 160%;
    font-weight: normal;
    margin-top: 160px;
    margin-bottom: 103px;
    text-transform: capitalize;
}
#allItems{
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    grid-template-columns: 386px 386px 386px;
    grid-template-rows: auto;
    grid-gap: 103px 40px;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 200px;    
}


@media (min-width: 1500px){
    #allItems{
        justify-content: center;
    }
    #storeContainer{
        width: 60%;
    }
}
